<html>
<head>
	<title>Australia</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="C:\Users\Pratyush\Desktop\projects\font-awesome-4.7.0\css\font-awesome.css">
	<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
	<style type="text/css">
	#aus{
	text-align: center;
}
#aus2{
	text-align: center;
}

.jumbotron{
	height:100%;
}
.second{
	background: #415cf4;
	margin: 0;
}
.picture{
	background:url("https://www.cruisewhitsundays.com/media/1787/hamilton-island-beach.jpg?maxwidth=1280");
}
.navbar-default{
	background: #42e2f4;
}
.navbar-fixed-top .navbar-nav>li>a {
	color:white;
}
.navbar-fixed-top .navbar-brand{
	color:white;
}
.pic{
	background: #42e2f4;
	width:445px;
	height:250px;
	text-align: center;
	line-height: 250px;
}
#fo{
	font-family: 'Abril Fatface', cursive;
}
#br{
	font-family: 'Bungee', cursive;
}
.ji{
	font-family: 'Bungee', cursive;
}
h3{
	font-family: 'Pacifico', cursive;
}
.para{
	font-family: 'Anton', sans-serif;
}
.ui{
	font-family: 'Abril Fatface', cursive;
}
.ty{
	font-family: 'Anton', sans-serif;
}
body{
	height:100%;
}
.fa{
	color:#41bbf4;
}
.fa-heart{
	color:white;
	vertical-align: 28px;
}
	</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		<a href="#" class="navbar-brand" id="br">AUSTRALIA</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-nav-demo">
	<div class="nav navbar-nav navbar-right">
		<li class="ji"><a href="/signup">Sign In</a></li>
		<li class="ji"><a href="$">Things To Do</a></li>
		<li class="ji"><a href="$"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a></li>
	</div>
	<div class="nav navbar-nav">
		<li class="ji"><a href="#">Places To Go</a></li>
		<li class="ji"><a href="#">Go Australia!!</a></li>
	</div>
</div>
	</div>
</nav>






	<div class="container">
<div class="jumbotron picture">
	<h1><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Australia</h1>
	<p>Come and experience Australia for only Rs.56000 per person*</p>
</div>
<div id="aus2">
	<h2 id="fo">AUSTRALIA FOR YOU</h2>
	<p class="para">Australia is a land of dreams. From the sacred legends of the aboriginal Dreamtime when the great spirits conjured the coral reefs, rainforests, and scorched, red deserts, to armchair travelers who describe Australia as their dream destination, the Land Down Under deserves all the hype. The world's smallest continent and largest island, Australia is almost the same size as the United States, but with a population the size of New York State and some of the quirkiest wildlife on the planet.</p>
	<p class="para">Australia is also a land of staggering contrast and spectacular beauty. Along the coast, visitors can explore vibrant multicultural cities, safari across vast sand islands, trek through ancient rainforests, and dive the Great Barrier Reef. In the Outback, rugged national parks and red-earthed deserts offer the ultimate in adventure travel. Top it all off with a laidback feel and friendly people and it's no wonder Australia scores top billing on bucket lists around the world.

</p>
</div>
<div id="aus">
	<h2 class="ui">POPULAR PLACES TO VISIT IN AUSTRALIA</h2>
	<h4 class="ty">These are great places to visit in Australia</h4>
</div>
<div class="row">
	<div class="col-lg-4 col-md-6 " id="PIC1">
		<h3>Hamilton Island</h3>
		<div class="thumbnail" >
		<img  id="pic1" src="http://www.australia.com/content/australia/de_de/places/great-barrier-reef/_jcr_content/hero/image.adapt.1663.medium.jpg">
		</div>
	</div>
		<div class="col-lg-4 col-md-6">
			<h3>QueensLand</h3>
		<div class="thumbnail">
		<img src="http://www.australia.com/content/australia/en_sg/itineraries/nsw-3weeks-sydney/_jcr_content/image.adapt.761.HIGH.jpg">
		</div>
	</div>
		<div class="col-lg-4 col-md-6 ">
			<h3>Melbourne</h3>
		<div class="thumbnail">
		<img src="https://brightcove04pmdo-a.akamaihd.net/5104226627001/5104226627001_5573538363001_5541842355001-vs.jpg?pubId=5104226627001&videoId=5541842355001">
		</div>
	</div>
		<div class="col-lg-4 col-md-6">
			<h3>Kangaroo Island</h3>
		<div class="thumbnail">
		<img src="http://www.lincolngreenfarmstay.com/uploads/2/3/5/4/23542620/efimageid-53984_orig.jpg">
		</div>
	</div>
		<div class="col-lg-4 col-md-6">
			<h3>Sydney</h3>
		<div class="thumbnail">
		<img src="http://www.telegraph.co.uk/content/dam/Travel/Destinations/Oceania/Australia/Melbourne/melbourne-nightlife-skyline-xlarge.jpg">
		</div>
	</div>
		<div class="col-lg-4 col-md-6">
			<h3>Adelaide</h3>
		<div class="thumbnail">
		<img src="http://www.australia.com/content/australia/en_sg/itineraries/vic-3days-melbourne/_jcr_content/image.adapt.761.HIGH.jpg">
		</div>
	</div>
</div>
</div>
<div class="jumbotron second">
	<h3>Conact Us At</h3>
	<div>
	<div><h3>Google  <span><a href="https://www.google.com"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></span></h3></div>
	<div><h3>Facebook <a href="dfdsf"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></h3></div>
	<div><h3>Twitter <a href="fdsf"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></h3></div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
var im=document.getElementsByTagName("img")[0];
var im1=document.getElementsByTagName("img")[1];
var im2=document.getElementsByTagName("img")[2];
var im3=document.getElementsByTagName("img")[3];
var im4=document.getElementsByTagName("img")[4];
var im5=document.getElementsByTagName("img")[5];
var t=document.querySelector("#PIC1");
im.addEventListener("mouseover",function(){
	im.setAttribute("src","https://www.barrierreef.org/generated/picture-large/layer-55-jpg.jpg?1468214114");
})
im.addEventListener("mouseout",function(){
	
	
	im.setAttribute("src", "http://www.australia.com/content/australia/de_de/places/great-barrier-reef/_jcr_content/hero/image.adapt.1663.medium.jpg");
})
im1.addEventListener("mouseover",function(){
	im1.setAttribute("src","https://media-cdn.tripadvisor.com/media/photo-s/03/9b/2d/e6/melbourne.jpg");
})
im1.addEventListener("mouseout",function(){
	im1.setAttribute("src","http://www.australia.com/content/australia/en_sg/itineraries/nsw-3weeks-sydney/_jcr_content/image.adapt.761.HIGH.jpg");
})
im2.addEventListener("mouseover",function(){
	im2.setAttribute("src","https://cdn2.queensland.com/~/media/5177d6785b264dc79e6d39110cc8a3a7.ashx?as=1&la=en-us&w=565&vs=1&d=00010101T000000");
})
im2.addEventListener("mouseout",function(){
	im2.setAttribute("src","https://brightcove04pmdo-a.akamaihd.net/5104226627001/5104226627001_5573538363001_5541842355001-vs.jpg?pubId=5104226627001&videoId=5541842355001");
})
im3.addEventListener("mouseover",function(){
	im3.setAttribute("src","http://southaustralia.com/~/media/consumer/images/pageimages/domestic/places%20to%20go/kangaroo%20island/kangaroo-island-remarkable-rocks-view.ashx");
})
im3.addEventListener("mouseout",function(){
	im3.setAttribute("src","http://www.lincolngreenfarmstay.com/uploads/2/3/5/4/23542620/efimageid-53984_orig.jpg");
})
im4.addEventListener("mouseover",function(){
	im4.setAttribute("src","http://cd.visitmelbourne.com/-/media/images/melbourne/destinations/luna-park-st-kilda_mel_r_supplied_1150x863.jpg?ts=20170324010236&cp=95&w=480&h=360&crop=1|http://cd.visitmelbourne.com/-/media/images/melbourne/destinations/luna-park-st-kilda_mel_r_supplied_1150x863.jpg?ts=20170324010236&cp=95&w=720&h=540&crop=1");
})
im4.addEventListener("mouseout",function(){
	im4.setAttribute("src","http://www.telegraph.co.uk/content/dam/Travel/Destinations/Oceania/Australia/Melbourne/melbourne-nightlife-skyline-xlarge.jpg");
})
im5.addEventListener("mouseover",function(){
	im5.setAttribute("src","https://static1.squarespace.com/static/574bedb34d088e3b76299bc8/t/59a4afb2e45a7c96f2eebc0d/1503965111867/image.adapt.761.HIGH.jpg");
})
im5.addEventListener("mouseout",function(){
	im5.setAttribute("src","http://www.australia.com/content/australia/en_sg/itineraries/vic-3days-melbourne/_jcr_content/image.adapt.761.HIGH.jpg");
})




</script>
</body>
</html>