<form action="/success">
	<label for="username">
		Email
	</label>
	<input  id="username" type="email" placeholder="email" required>
	<label>
		Password
		<input type="password" placeholder="password" required>
	</label>
	<input type="submit">
</form>